@tailwind base;
@tailwind components;
@tailwind utilities;

.gallery::-webkit-scrollbar{
    /* display: none; */
}

.image-div{
    border: 2px solid rgb(255, 255, 255);
    width: 100%;
    display: grid;;
    grid-template-columns: auto auto auto;
    gap: 10px;
    padding: 10px;
    flex: none;
}

.image-div img{
    filter: grayscale(100%);
    transition: transform 0.3s;
}

.image-div img:hover{
    filter: grayscale(0%);
    transform: scale(1.1);
    z-index: 2;
}

.image-div-as{
    display: flex;
    flex-direction: column;
}